@import url('http://fonts.cdnfonts.com/css/warcraft');
:root{
    /* --background: rgba(46, 111, 91, 0.9); */
    /* #0B0C10 , #1F2833 , #C5C6C7 , #68FCF1 , #45A29E  */
    --color_5: #1f2833;
    --color_4: #C5C6C7;
    --color_3: #45A29E;
    --color_2: #0b0c10;
    --color_1: #68FCF1;
    --bg_gradient: linear-gradient(
        135deg,
        #0b0c10 10%,
        #1f2833 40%,
        #45A29E 70%
    );
    
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html{
    margin: 0;
    font-weight: 400;
    height: 100vh;
    background-image: var(--bg_gradient);
    background-size: 150%;
    background-position: left;
    font-family: 'warcraft', sans-serif;
    animation: bg-animation 15s infinite alternate;
}

@keyframes bg-animation{
    0%{background-position: left;}
    100%{background-position: right;}
}

.content{
    height: 200vh;
    background-color: #333;
    background-blend-mode: multiply;
    background-size: cover;
    display: grid;
    place-items: center;
}

/* nav stilovi pocinju ovde*/

header{
    background: transparent;
    text-align: center;
    margin-top: 10px;
    position: fixed;
    z-index: 999;
    width: 100vw;
    color: var(--color_3);
}

.logo{
    display: flex;
    gap: 10px;
    top: 2px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}

.head_title{
    margin: auto 0;
    font-size: 50px;
}

.logo_title{
    height: 5rem; 
    width: 5rem;
}

.nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 2em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: #45A29E;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content:'';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    margin-left: 2em;
    width: 30%;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform 400ms ease-in-out;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: var(--color_1);
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:hover{
    color: var(--color_3);
}

.nav-toggle:checked ~ nav {
    transform: scale(1, 1)
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.fieldset{
    position: absolute;
    width: 200px;
    height: 210px;
    background-color: var(--color_2);
    border-radius: 10% 10%;
    border: none;
    outline: none;
}

.fieldset.race{
    top: 30%;
    left: 10%;
    transform: translate(-10%, -30%);
}

.fieldset.gender{
    top: 30%;
    left: 30%;
    transform: translate(-30%, -30%);
}

.fieldset.class{
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.fieldset.generator{
    top: 30%;
    left: 95%;
    width: 220px;
    height: 300px;
    transform: translate(-90%, -30%);
}

.fieldset.stats{
    position: absolute;
    top: 30%;
    left: 71%;
    width: 220px;
    height: 280px;
    transform: translate(-70%, -30%);
}

legend{
    color: var(--color_4);
    font-family: 'warcraft', sans-serif;
    font-size: 40px;
}

label{
    color: var(--color_1);
    font-family: 'warcraft', sans-serif;
}

.name_select{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 20px;
    background-color: var(--color_2);
    border-color: transparent;
    color: var(--color_1);
    font-family: 'warcraft', sans-serif;
    font-size: 15px;
    
}

.save{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -57%);
    height: 40px;
    background-color: var(--color_2);
    border-color: transparent;
    border-radius: 10px;
    color: var(--color_1);
    font-family: 'warcraft', sans-serif;
    font-size: 30px;
    transition: 150ms ease-in-out;
}

.save:hover{
    background-color: var(--color_3);
    color: var(--color_2);
    border-radius: 20px;
}

.red{
  position: absolute;
  color: red;
  font-family: 'warcraft', sans-serif;
}

.name_error{
  position: absolute;
  top:53%;
  left: 50%;
  transform: translate(-50%, -53%);
  background: rgba(0, 0, 0, 0.8);
}

.buttons{
  height: 40px;
  background-color: var(--color_5);
  border-color: transparent;
  border-radius: 10px;
  color: var(--color_1);
  font-family: 'warcraft', sans-serif;
  font-size: 19px;
  transition:  250ms ease-in-out;

}

.buttons:hover{
    background-color: var(--color_3);
    border-radius: 20px;
    color: var(--color_2);
}

.assign{
  z-index: 1000;
  height: 30px;
  width: 50px;
  transition:  250ms ease-in-out;

}

.num_field{
  position: absolute;
  left: 60%;
  transform: translateX(-60%);
  border: none;
  background-color: var(--color_5);
  color: var(--color_1);
  height: 30px;
  width: 60px;
  text-align: center;
  font-display: block;
  font-family: 'warcraft', sans-serif;
  font-size: 40px;
}

.ul_stats{
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 10%;
  margin-left: 0;
}

.stats_labels{
  display: none;
  position: absolute;
  text-align: center;
  align-content: center;
  left: 5%;
  height: 30px;
  width: 45px;
  background-color: var(--color_3);
  border-color: transparent;
  border-radius: 20px;
  font-family: 'warcraft', sans-serif;
  font-size: 19px;
  transition: 350ms ease-in-out;
}

.label_text{
  color: var(--color_2);
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 250ms ease-in-out;
}

.assign_reset{
  position: absolute;
  width: 60px;
  top: 60%;
  left: 40%;
  transform: translatex(-40%);
}

::placeholder{
    color: var(--color_4);
}


/* 767 small   -   1025 medium */
@media screen and (min-width: 1090px){

    .nav-toggle-label{
        display: none;
    }

    header{
        display: grid;
        grid-template-columns: .2fr 1fr minmax(1000px, 1fr) 1fr;
    }

    .logo{
        display: flex;
        gap: 10px;
        top: 5px;
        margin-left: 10px;
        grid-column: 1 / 2;
        justify-content: center;
        text-align: center;
    }
    
    .logo_title{
        margin: auto 0;
        font-size: 50px;
    }

    nav{
        all: unset;
        margin-right: 10px;
        grid-column: 3 / 4 ;   
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.8rem;
        width: 800px;
    }

    nav li{
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    nav a {
        opacity: 1;
    }
}
